.container span
{
    text-align: center;
    text-transform: uppercase;
    display: block;
}

.text1
{
    color: white;
    font-size: 50px;
    font-weight: 700;
    letter-spacing: 8px;
    margin-bottom: 20px;
    position: relative;
    background: rgb(26, 26, 26);
    animation: text 3s 1;
}

.text2
{
    font-size: 30px;
    color: #6ab04c;
}


@keyframes text{
    0%
    {
        color: rgb(26, 26, 26);
        margin-bottom: -40px;
    }
    30%
    {   
        letter-spacing: 22px;
        margin-bottom: -40px;
    }
    85%
    {
        letter-spacing: 8px;
        margin-bottom: -40px;
    }


}